$g-color: #f5f5f5;
$bg-color: #fff;

$add-text-color: #666;
$add-text-color-placeholder: #ccc;

$list-text-color: #666;
$list-text-color-ready: #ccc;
$checkbox-color: #76cbbb;
$bg-color-hover: #fafafa;
$list-border-color: #e7e7e7;

$action-border-color: #ebdfdf;
$action-text-color: #888;