$main-width-max: 560px;
$main-width-min: 280px;

$add-select-all: 64px;
$add-select-all-icon-height: 12px;
$add-select-all-icon-widht: 24px;

$list-min-height: 300px;
$item-height: 60px;
//$item-checkbox-length: 36px;

//$item-remove-length: 16px;

$action-height: 40px;
