.todos-action-bar{
    background-color: #ffffff;
    height: 40px;
    border-top: 1px solid #e7e7e7;
    padding-right: 12px;
    padding-left: 12px;
    color: #888888;
    font-weight: 100;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    }
    .todos-action-bar_counter{

        }
    .todos_filters{

        }
        .todos-filter{
            background-color: #ffffff;
            border: none;
            outline: none;
            color: #888888;
            }

        .todos_filter:active {
            border: 1px solid #ebdfdf;
            }
    .todos-action-bar_clear-completed{
        background-color: #ffffff;
        color: #888888;
        border: none;
        outline: none;
    }
        .todos-action-bar_clear-completed:active{
            border: 1px solid #ebdfdf;
            }
