.todos-list{
    margin: 0;
    border: none;
    min-height: 300px;
    position: relative;
    font-weight: 100;
    }
    .todo-item{
        height: 60px;
        position: relative;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        border-left: none;
        border-right: none;
        margin-bottom: -1px;
        padding: 0 20px;

        flex-direction: row;
        align-items: center;
        display: flex;
        }

        .todo-item_checkbox{

            width: 36px;
            height: 36px;
            border: 1px solid #e7e7e7;
            border-radius: 50px;
            margin-right: 12px;
            flex-basis: 36px;
            }
            .todo-item_checkbox-layers{
                width: 36px;
                height: 36px;
                position: absolute;
                z-index: 2;
                }
                .todo-item_ready-mark{

                    opacity: 0;
                    padding: 0;
                    width: 36px;
                    height: 36px;
                    overflow: hidden;
                    position: absolute;
                    z-index: 0;
                    }
                .todo-item_ready-img{
                    padding: 0;
                    width: 36px;
                    height: 36px;
                    border-radius: 50px;
                    position: absolute;
                    z-index: 1;
                    }
        .todo-item_ready-mark:checked + .todo-item_ready-img{
            background: url('../../img/todo-app-design-master/icons/completed.png') no-repeat center;
            border: 1px solid #76cbbb;
            }
        .todo-item_ready-mark:checked + .todo-item_text{
            text-decoration: line-through;
            }

        .todo-item_textbox{
            overflow: hidden;
            flex-grow: 2;
            padding-top: 24px;

            }
            .todo-item_text{
                width: 100%;

                padding-right: 32px;
                resize: none;
                border: none;
                outline:none;
                font-size: 20px;
                color: #666666;
                }

        .todo-item_remove{
            flex-basis: 16px;
            width: 16px;
            height: 16px;
            position: absolute;
            bottom: 22px;
            right: 12px;
            border: 0;

            background: #ffffff;
            outline: none;

            }

    .todo-item:hover{
        background: #fafafa;
        cursor: pointer;
        }
    .todo-item:hover .todo-item_remove{
        background: url('../../img/todo-app-design-master/icons/close.png') no-repeat 0 0;
        }

    .todo-item:hover .todo-item_text{
        background-color: #fafafa;
        }
