


.todos-add {
    font-weight: 100;
    flex-direction: row;
    align-items: center;
    display: flex;

    &:after {
        content: '';
        display: block;
        clear: both;
        }

    .todos-add_select-all {
        width: $add-select-all;
        height: $add-select-all;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        float: left;
        position: relative;
        outline: none;
        cursor: pointer;

        .todos-add_select-all_icon {
            width: $add-select-all-icon-widht;
            height: $add-select-all-icon-height;
            background: url('../../../images/icons/select-all.png') no-repeat 0 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -6px -12px;
            }
        }

    .todos-add_in {
        overflow: hidden;
        width: 100%;

        .todos-add_input {

            width: 100%;

            box-sizing: border-box;
            border: 0;
            background: none;

            color: $add-text-color;
            font-size: $add-input-text-size;
            line-height: 30px;
            padding-right: 12px;
            outline: none;
            cursor: pointer;

            &::placeholder {
                color: $add-text-color-placeholder;
                font-style: italic;
                }
            &:-ms-input-placeholder{
                color: $add-text-color-placeholder !important;
                font-style: italic;
                }
            }
        }
    }