


.todos-add {
    font-weight: 100;
    flex-direction: row;
    align-items: center;
    display: flex;

    &:after {
        content: '';
        display: block;
        clear: both;
        }

    .todos-add_select-all {
        width: 64px;
        height: 64px;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        float: left;
        position: relative;
        outline: none;

        .todos-add_select-all_icon {
            width: 24px;
            height: 12px;
            background: url('../../../images/icons/select-all.png') no-repeat 0 0;
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -6px -12px;
            }
        }

    .todos-add_in {
        overflow: hidden;

        .todos-add_input {

            width: 100%;

            box-sizing: border-box;
            border: 0;
            background: none;

            color: #666;
            font-size: 24px;
            line-height: 30px;
            padding-right: 12px;
            outline: none;
            }

        &::placeholder {
            color: #ccc;
            font-style: italic;
            }
        }
    }